{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>

<h3>Здравствуйте! Вы попали на новосной сайт по игровой индустрии!</h3>
<img src="../../static/app/content/Games.jpg" width="640" height="240"> <img/>
<br>

<p>
    Наш сайт расскажет вам об увлекательном мире игр, позволит вам окунуться во все тонкости и узнать много нового.<br />
    Самые важные моменты из игр вы сможете найти только <a href="{% url 'home' %}"> здесь </a>.
</p>

<h3>На нашем сайте вы сможете найти:</h3>
<ul>
    <li><b>Игровые новинки</b></li>
    <li><b>Разборы игр</b></li>
    <li><b>Системные требовани</b></li>
    <li><b>Отсылки и пасхалки</b></li>
    <li><b>Производственные моменты</b></li>
    <li><b>Анонсы игр</b></li>
</ul>
{% endblock %}
