{% extends "app/layout.html" %}

{% block content %}

<p>
    <a href="https://www.playground.ru/"><img src="../../static/app/content/playground-logo-3d.png" width="80" height="64" /></a>  - один из лучших игровых сайтов, на нём вы сможете найти не только новости, но и авторское мнение по поводу игр
    ,гайды, читы и трейнеры, а так же у них есть форум, где вы сможете задать, на который не нашли ответ в интернете.
</p>
<br /><br />
<p>
    <a href="https://www.igromania.ru/"><img src="../../static/app/content/IgroMania_logo.png" /></a> - уже давно зарекомендовавший себя новостной сайт по игровой индустрии в котором вы сможете найти не только разборы игр, но и фильмов
    и сериалов.
</p>
<br /><br />
<p>
   <a href="https://stopgame.ru/"><img src="../../static/app/content/StopGame_logo.png"  /></a> - Один из самых полюбившихся игроками сайт, на котором вы сможете найти различные обсуждения, блоги, стримы, а так же дополнительные файлы
    для ваших любимых игр.
</p>
{% endblock %}