{% extends "app/layout.html" %}
{% block content %}
{% if form != None %}
<br>
<h2>Пожалуйста, оставьте отзыв!</h2>
<br />
<div>
    <form method="post">
        {% csrf_token %}

            <label for="{{form.name.id_for_label}}">{{form.name.label}}:</label>
            {{form.name}}<br /><br />
            <label for="{{form.mail.id_for_label}}">{{form.mail.label}}:</label>
            {{form.mail}}<br /><br />
            <label for="{{form.gender.id_for_label}}">{{form.gender.label}}:</label>
            {{form.gender}}<br /><br />
            <label for="{{form.account.id_for_label}}">{{form.account.label}}:</label>
            {{form.account}}<br /><br />
            <label for="{{form.poolsite.id_for_label}}">{{form.poolsite.label}}:</label>
            {{form.poolsite}}<br /><br />
            <label for="{{form.message.id_for_label}}">{{form.message.label}}:</label>
            {{form.message}}<br /><br />
     
        <button id="b1" type="submit">
            Отправить
        </button>
    </form>
</div>
{%else%}
<br />
<h2>Благодарим за отзыв!</h2>
<h3>Вы сообщили:</h3>
<ul>
    <li><span>Имя:</span> {{data.name}}</li>
    <li><span>Почта:</span> {{data.mail}}</li>
    <li><span>Пол:</span> {{data.gender}}</li>
    <li><span>Наличие аккаунта:</span> {{data.account}}</li>
    <li><span>Оценка:</span> {{data.poolsite}}</li>
    <li><span>Комментарий:</span> {{data.message}}</li>
</ul>
{%endif%}
{% endblock %}

{% block scripts %}

    {% load static %}
<script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
<script>
    function b1_mouseover() {
        $('#b1').css('color', 'red')
    }
    $('#b1').mouseover(b1_mouseover);

    function b1_mouseout() {
        $('#b1').css('color', 'black')
    }
    $('#b1').mouseout(b1_mouseout);

    function p1_focus() {
        $('#id_name').css('background-color', 'gray')
        $('#id_name').css('color', 'white')
    }
    $('#id_name').focus(p1_focus);

    function p2_focus() {
        $('#id_mail').css('background-color', 'gray')
        $('#id_mail').css('color', 'white')
    }
    $('#id_mail').focus(p2_focus);

    function p3_focus(){
        $('#id_message').css('background-color', 'gray')
        $('#id_message').css('color', 'white')
    }
    $('#id_message').focus(p3_focus);

    function p1_blur() {
        $('#id_name').css('background-color', 'white')
        $('#id_name').css('color', 'black')
    }
    $('#id_name').blur(p1_blur);

    function p2_blur() {
        $('#id_mail').css('background-color', 'white')
        $('#id_mail').css('color', 'black')
    }
    $('#id_mail').blur(p2_blur);

    function p3_blur() {
        $('#id_message').css('background-color', 'white')
        $('#id_message').css('color', 'black')
    }
    $('#id_message').blur(p3_blur);
</script>


{% endblock %}
