{% extends "app/layout.html" %}
{% block content %}


<h1>{{title}}</h1>
<hr />
<div>

    <h2>Assassin's Creed_ Mirage, русский трейлер (Дубляж) </h2>
    <VIDEO src="../../static/app/media/Assassin's Creed_ Mirage 💥 Русский трейлер (Дубляж) 💥 Игра 2023.mp4" controls="controls" width="400" height="300" poster="../../static/app/content/Video2.png"></VIDEO>
    
</div>
<hr />
<div>
    <h2>The Lords of the Fallen, русский трейлер (Дубляж) </h2>
    <VIDEO src="../../static/app/media/The Lords of the Fallen 💥 Русский трейлер 4K (Дубляж) 💥 Игра 2023.mp4" controls="controls" width="400" height="300" poster="../../static/app/content/Video1.png"></VIDEO>
</div>

{% endblock %}